<div class='full-height main-background d-flex flex-column container-fluid'>
	<div class='empty-space'></div>
	<div>
		<h2 class='comic-font text-muted'>Add to schedule:</h2>
	</div>
	<div *ngIf="tasks.length < 1">
		You do not have any sheduled tasks
	</div>
	<div>
		<ul>
			<app-task-editor *ngFor="let task of tasks"
			 	[task] = "task"
				(save)="taskChanged(task)"
				(delete)="deleteTask(task)">
			</app-task-editor>
		</ul>

		<div class='mt-2'>
			<button class='btn' (click)="addTask()">add</button>
		</div>
	</div>
	<div class='empty-space'></div>
	<div class='container'>
		<button 
			[routerLink]="['/parent-dashboard']"
			class='btn float-right' >Return home</button>
	</div>

</div>