<div class='full-height main-background row'>
    <div class='d-flex flex-column col-12 col-sm-5 col-md-3 justify-content-between align-items-center'>
      <div class="empty-space d-flex flex-column justify-content-end m-0">
          <label class='h3 comic-font '>Current Outfit:</label>
      </div>
      
      <div>
        <div class='d-flex justify-content-between align-items-center'>
            <img 
              class='tile-img'
              *ngIf="status.itemImageUrl"
              [src]="status.itemImageUrl" 
              alt="Current outfit">
        </div>
      </div>
      <div class='empty-space' >
        <button  [routerLink]="['/child-dashboard']" class='btn'>Return home</button>
      </div>
    </div>
    
        <div class="empty-space d-flex flex-column col-12 col-xs-12  col-sm-2 justify-content-end m-0">
            <label class='h3 comic-font '>My outfits:</label>
        </div>
        <ul class='row flex-1 no-list m-0'>
            <li *ngFor="let item of items" class=' row col-12 col-sm-6 col-md-6 col-xl-4 d-flex justify-content-center align-items-center'>
              <app-outfit-item  [item]="item" (select)="select($event)">
              </app-outfit-item>
            </li>
          </ul>
    
    
  
  </div>