/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~angular-calendar/css/angular-calendar.css";

html{
    min-height: 100%;
    min-width: 100vw;
    background-color: #a94442;
}

body{ 
    height: 100%;
    background-color: #42A948;
}

.mw-300{
    min-width: 300px;
}

.tile-img {
    min-height: 200px;
    min-width: 200px;
}

.flex-1{
    flex: 1;
}

.no-list {
    list-style: none;
}

.font-18{
    font-size: 18px !important;
}

.bold-red {
    color: red;
    font-weight: bold;
}

.zoom2 {
    transform: scale(1.8);
}

.main-background{
    background-color: #58E2C2;
}

.empty-space {
    height: 80px;
}

.full-height {
    min-height: 100vh;
}

.big-btn {
    min-width: 30vw;
    min-height: 25vh;
    font-size: 24px !important;
    font-weight: bold !important;
}

.background-image {
    background-image: url('/assets/background.jpg') ;
    min-height: 100vh;
    /* Preserve aspet ratio */
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover; 
}

.comic-font {
    font-family: "Comic Sans MS", "Comic Sans" !important;
}

.spacer {
    padding: 15px 0;
}

.font-bold {
    font-weight: bold !important;
}

.big-button {
    width: 200px;
    height: 100px;
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 2em !important;
}


.main-subtitle {
    font-family: "Comic Sans MS", "Comic Sans";
    position: absolute;
    bottom: 20%;
    right:10%;
    max-width: 85%;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }

.log-in{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.bg-danger .mat-button-wrapper {
    color: #fff;
}
 
.left-column {
    min-width: 300px;
}


.spinner{
    background: black;
    position:fixed;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%; 
    left: 0; 
    opacity: 0.50; 
    top: 0; 
    width: 100%; 
    z-index: 100; 
  }