<div class="background-image d-flex justify-content-around align-items-center ">
        <div class="col col-sm-6 text-center">
            <button class=" btn big-button font-bold"  [routerLink]="['/create-parent-account']" >Create Account</button>
        </div>
        <div class="col col-sm-6 text-center">
            <button class="btn big-button font-bold" [routerLink]="['/log-in-select']" >Log In</button>
        </div>

        <h1 class='main-subtitle'>Welcome to Nocrastination Station</h1>
    
</div>