<div class="background-image d-flex flex-column justify-content-around align-items-center ">
    <div class='row m-0'>
        <div class="col-12 col-sm-6 text-center">
            <button class=" btn big-button font-bold" [routerLink]="['/create-parent-account']">Create Account</button>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <button class="btn big-button font-bold" [routerLink]="['/log-in-select']">Log In</button>
        </div>
    </div>
    <h1 class='comic-font px-2'>Welcome to Nocrastination Station</h1>

</div>